.title {
    text-align: center;
    font-size:500%;
    background-color: #FFEFAD;
    padding: 2%; 
    margin:auto;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

html {
    background-color: #ebceac;
}

h2 {
    text-align: center;
    margin-top: -50px;
    font-size: 150%;
    font-style: oblique;
}

.img1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px; 
    width: 150px;
    height: auto;
    max-width: 100%;

}

.img2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px; 
    width: 150px; 
    height: auto;
    max-width: 100%;
}

.navbar {
    background-color: #532A2A; 
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    float: left; 
}

.navbar ul li a {
    display: block;
    color: #EBCEAC; 
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none; 
    font-family: 'Courier New', Courier, monospace;
}

.navbar ul li a:hover {
    background-color: #FFEFAD; 
}

.imgm img {
    border-radius: 20%;
    padding: 5px;
    width: 600px;
    max-width: 100%;
}
  

.contactinfo {text-align: center;
    font-size:500%;
    background-color: #FFEFAD;
    padding: 2%; 
    margin:auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.imgcontact {
    width:400px;
    height:500px;
    max-width: 100%;
}

/*Polaroid styling*/

.polaroid {
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 25px;
    margin: 2%;
    float: left;
}

.caption{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 10px;
}

.polaroid:hover {
    box-shadow: 4px 8px 16px 6px lightpink;
}

.imgcheff {
    width: 500px;
    height: 500px;
    max-width: 100%;
}

@media screen and (max-width: 650px) {
    .polaroid {
        width: 96%;
        margin: 2% auto;
    }
}

.imgchocolate {
  margin-left: 60%;
  width: 25%;
  background-color: #532A2A;
  margin-top: 4%;
  border-radius: 8%;
  padding: 0.5%;
  max-width: 100%;
  overflow: auto;
 
}

.imgchocolatetwo {
    margin-left: 60%;
    width: 25%;
    background-color: #532A2A;
    margin-top: -50%;
    border-radius: 8%;
    padding: 0.5%;
    max-width: 100%;
    overflow: auto;
}

.titlechoco {
    font-family: 'Courier New', Courier, monospace;
    margin-top: -21%;
    font-size: 300%;
    margin-left: 15%;
    margin-bottom: -0.5%;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
    text-align: center;
    margin-left: 1%;
    border-radius: 2%;
    overflow: hidden;
}
th, td {
    border: none;
    padding: 8px;
    text-align: center;
    background-color: #532A2A;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    overflow: hidden;
} 

td {
    color: #EBCEAC;
}

.ingredienttitle {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 18%;
    
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;

}

.directionslist {
    font-family: 'Courier New', Courier, monospace;
}

.ingredientlist {
    font-size: 80%;
}



