style
    table, th, td {
        border-style: solid;
        width: 2px;
        color: black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 100px;
        margin-right: 100px;
        }
    th {
        background-color: lightgray;
        padding: 10px;
        }   
    td {
        padding: 10px;
        }